# String to partially override enabler.fullname template (will maintain the release name).
nameOverride: ""
# String to fully override enabler.fullname template.
fullnameOverride: ""
# Deploy all the components in specific K8s node(s).
chartNodeSelector: {}

# Component broker values.
broker:
  tier: external
  replicaCount: 1

  # Configuration of the container image.
  imagePullSecrets:
    - name: aeros-common-deployments
  image:
    repository: registry.gitlab.aeros-project.eu/aeros-public/common-deployments/orion-ld
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""
    pullPolicy: IfNotPresent
  
  # Configuration of the service: type and ports.
  service:
    type: NodePort
    ports:
      api:
        port: 1026
        targetPort: 1026
        containerPort: 1026
        nodePort: ""
        protocol: TCP

  resources: {}

  autoscaling:
    enabled: false

  podSecurityContext: {}
  securityContext: {}

  # Include here the environment variables and arguments to be used in containers section of the component's manifest.
  args:
    brokerId: broker01
    disableLogFile: true
    experimental: true
    forwarding: true
    logLevel: DEBUG
    traceLevel: "0-255"
    wip: entityMaps,distSubs
    noArrayReduction: true
    mongoc: true
    multiservice: false
    pageSize: 100
    socketService: true
    ssPort: 1027
    subordinateEndpoint: https://domain.aeros-project.eu/orionld/ex/v1
    troe:
      enabled: false
      host: mintaka-timescaledb.default.svc.cluster.local
      port: 5432
      user: orion
      password: 0r10n
      # Set to true to persist all the entities
      allEntityTypes: false
      # If "allEntityTypes" is set to false, set the entity types to be persisted
      entityTypes:
        - https://uri.etsi.org/ngsi-ld/default-context/Domain
        - https://uri.etsi.org/ngsi-ld/default-context/InfrastructureElement
        - https://uri.etsi.org/ngsi-ld/default-context/Service
        - https://uri.etsi.org/ngsi-ld/default-context/ServiceComponent

  # Configure this parameters to deploy the component in specific K8s node(s).
  nodeSelector: {}
  tolerations: []
  affinity: {}

# Component mongodb values.
mongodb:
  tier: internal
  replicaCount: 1

  # Configuration of the container image.
  imagePullSecrets: []
  image:
    repository: mongo
    # Overrides the image tag whose default is the chart appVersion.
    tag: "7.0.12"
    pullPolicy: IfNotPresent
  
  # Configuration of the service: type and ports.
  service:
    type: ClusterIP
    ports:
      mongodb:
        port: 27017
        targetPort: 27017
        containerPort: 27017
        nodePort: ""
        protocol: TCP

  resources: {}
  autoscaling:
    enabled: false
  podSecurityContext: {}
  securityContext: {}

  # Include here the environment variables to be used in containers section of the component's manifest.
  envVars: {}

  # Component data persistence
  persistence:
    enabled: true
    existingClaim: ""
    # mountPath: /path/in/container
    accessModes:
      - ReadWriteOnce
    size: 100Mi

  # Configure this parameters to deploy the component in specific K8s node(s).
  nodeSelector: {}
  tolerations: []
  affinity: {}
